<!doctype html>
  <html>
    <head>
      <meta content="initial-scale=1, width=device-width" name="viewport"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <title>Send a post</title>
    </head>
    <body>
      <h1>Welcome to our guestbook</h1>
      {% if blank %}
      <em><b>Type your name and message</b></em>
      {% endif %}
      <form action="{{ url_for("posts") }}" method="post">
        Name: <input type="text" name="name" />
        <br />
        Post: <input type="text" name="post" />
        <br />
        <input type="submit" name="submit" value="submit">
      </form>
    </body>
  </html>
